section {
    height: 400px;
    width: 400px;
    margin-left: 30%;
    border: 2px solid black;
    box-shadow: 2px 2px 15px pink;
}
.row{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    height: 50px;
}
.divs {
    margin-right:20px;
    width: 50px;
    height: 50px;
    background-color: pink;
    border: 2px solid black;
    transition: 0.5s;
    display: inline-block;
}

section:hover #one,
section:hover #three{
    padding-top: 150px;
}
section:hover #two{
    padding-top: 130px;
}
section:hover #four,
section:hover #five{
    padding-top: 100px;
}
section:hover .divs{
    border: none;
    border-radius: 20px;
}
#two {
    transform: rotate(90deg);
}